<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="FILE_PATH" value="log"/>
    <property name="FILE_NAME" value="BankFE"/>
    <property name="PATTERN"
              value="%.-1level%date{MMdd} [%date{HH:mm:ss.SSS} %thread %logger{0}] %message%n"/>

    <!-- log output to console  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--
	<appender name="FILE_DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>./${FILE_PATH}/debug/${FILE_NAME}.DEBUG.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./${FILE_PATH}/debug/${FILE_NAME}.%d{yyyyMMdd_HH}.DEBUG.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>

		<file>./${FILE_PATH}/info/${FILE_NAME}.INFO.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./${FILE_PATH}/info/${FILE_NAME}.%d{yyyyMMdd_HH}.INFO.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>

		<file>./${FILE_PATH}/error/${FILE_NAME}.ERROR.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./${FILE_PATH}/error/${FILE_NAME}.%d{yyyyMMdd_HH}.ERROR.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
    -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <!--
		<appender-ref ref="FILE_DEBUG" />
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
		-->
    </root>


</configuration> 